body {
  font-family: "Optima", sans-serif;
  color:#d0d0d0;
  background-color:#101010;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 10%;
  margin-left: 10%;
  overflow: visible;
}

h1 {
  color: #ffffff;
}

a {
  color:#d0d0d0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  max-width: 100%;
  border: 2px solid #d0d0d0;
}

.footer {
  position: fixed;
  left: 4%;
  bottom: 4%;
  text-align: left;
}

.footer_img {
  width: auto;
  border: 0;
}

.thumbnail_img {
  border: 0;
  width: 100%;
  height: auto;
  display: block;
}

.thumbnail_column {
  float: left;
  width: 48%;
  padding: 1%;
}

.thumbnail_container {
  border: 2px solid #d0d0d0;
  position: relative;
}

/* Thumbnail overlay text */
.thumbnail_text {
  opacity: 0; /* By default invisible */
  transition: .2s ease;
  background: #10101080; /* 50% Opacity */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: table;
}

/* For centering */
.thumbnail_text_inner {
  text-align: center;
  color: #d0d0d0;
  display: table-cell;
  vertical-align: middle;
}

/* Show the thumbnail text when you hover */
.thumbnail_container:hover .thumbnail_text {
  opacity: 1;
}

.modal {
  display: none; /* Invisible at first */
  z-index: 1; /* Sit on top */
  position: fixed; /* Stay in place */
  background: #10101080; /* 50% Opacity */
  overflow: auto; /* Enable scroll if needed */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
}

.modal_container {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  background: #101010;
}

.modal_img {
  width: auto;
  max-width: 100%;
  max-height: 90vh;
  display: grid;
  margin: auto;
  border: 2px solid #d0d0d0;
}

.modal_text {
  display: none;
}

.modal_text_display {
  text-align: left;
  display: inline;
}

.video_container {
  position: relative;
  padding-top: 56.25%;
  border: 2px solid #d0d0d0;
}

iframe {
  border: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
